<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Contact</title>
        <link href="../../output.css" rel="stylesheet" />
        <script type="module" src="./components/script/Linker.js"></script>
    </head>
    <body>
        <div id="header-container"></div>
        <div class="flex-grow mt-32">
            <h1 class="text-4xl font-bold flex justify-center">Contact</h1>
        </div>
        <div id="footer-container"></div>
    </body>
</html>
