<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <nav class="fixed top-0 left-0 right-0 bg-white shadow-md z-10">
            <section class="flex justify-between items-center m-4">
                <h1 class="text-xl font-semibold">Newa Quiz</h1>
                <div>
                    <a href="./index.html" class="px-2">Home</a>
                    <a href="./components/modules/Contact.html" class="px-2"
                        >Contact</a
                    >
                    <a href="./components/modules/AboutUs.html" class="px-2"
                        >About</a
                    >
                    <a href="./components/modules/Login.html" class="px-2"
                        >Login</a
                    >
                </div>
            </section>
        </nav>
    </body>
</html>
